@model OptionCommoditys
@{
    ViewData["ActivePageProductManager"] = "Commodity";
    ViewData["ActivePageTop"] = "ProductManager";

    ViewData["tittle"] = "Xóa danh sách mặt hàng";
}

<a asp-action="index" class="link-dark">Quản lý mặt hàng </a>/
<a class="link-secondary">@ViewData["tittle"]</a>
<hr />
<h5>Bạn có muốn xóa các danh sách đã chọn ??</h5>
<hr />
<form method="post" asp-action="DeleteCommoditys">
    <button type="submit" class="btn btn-light border border-dark"><i class="fa-solid fa-eraser"></i> Xóa danh sách</button>
    <a class="btn btn-light border border-dark" asp-action="GetIndexOptions"><i class="fa-solid fa-arrow-rotate-left"></i> Quay về</a>
    <hr />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Tên</th>
                <th scope="col"><i class="fa-solid fa-trash-arrow-up"></i> Gỡ</th>
            </tr>
        </thead>
        @for (int i = 0; i < Model.commodityDatas.Length; i++)
        {
            <tr>
                @Html.HiddenFor(x => x.commodityDatas[i].Id)
                <td>@Model.commodityDatas[i].Code @Html.HiddenFor(x => x.commodityDatas[i].Code)</td>
                <td>@Model.commodityDatas[i].Name @Html.HiddenFor(x => x.commodityDatas[i].Name)</td>
                <td>
                    <input type="checkbox" asp-for="@Model.commodityDatas[i].Option" />
                </td>
            </tr>
        }
    </table>
</form>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}