@model CommodityData
@{
    ViewData["ActivePageProductManager"] = "Commodity";
    ViewData["ActivePageTop"] = "ProductManager";
    ViewData["Tittle"] = "Xóa mặt hàng";
}
<a asp-action="index" class="link-dark">Quản lý mặt hàng </a>/
<a asp-action="DeleteCommodity" class="link-secondary">@ViewData["tittle"]</a>
<hr />
@if (Model == null)
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <a class="btn btn-light border border-dark" asp-action="index"><i class="fa-solid fa-arrow-rotate-left"></i> Quay về</a>
}
else
{
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@ViewData["Title"]</h5>
            <p class="card-text">Xóa mặt hàng @Model.Name ra khỏi cơ sở dữ liệu ??</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Tên :  @Model.Code </li>
            <li class="list-group-item">Code : @Model.Name</li>
        </ul>
        <div class="card-body">
            <form method="post" asp-action="SubmitCommodity" asp-route-id="@Model.Id">
                <button class="btn btn-light border border-dark" type="submit"><i class="fa-solid fa-trash-can"></i> Xóa</button>
                <a class="btn btn-light border border-dark" asp-action="index"><i class="fa-solid fa-arrow-rotate-left"></i> Quay về</a>
            </form>
        </div>
    </div>
}

@section Scripts{

    @await Html.PartialAsync("_ValidationScriptsPartial")
}