@model IEnumerable<Commodity>
@{
    ViewData["ActivePageProductManager"] = "Commodity";
    ViewData["ActivePageTop"] = "ProductManager";
    var statusmessage = TempData["StatusMessage"] as string;
}

<a asp-action="index" class="link-dark">Quản lý mặt hàng </a>

<div class="mt-2">
    <partial name="_AlertStatusMessage" model="@statusmessage" />
</div>

<hr />
<a class="btn btn-light border border-dark" asp-action="CreateCommodity"><i class="fa-solid fa-folder-plus"></i> Thêm</a>
<a class="btn btn-light border border-dark" asp-action="GetOptionCommoditys"><i class="fa-solid fa-car-battery"></i> Tùy chọn nhiều</a>
<hr />
<table class="table table-success table-hover">
    <thead>
        <tr>          
            <th scope="col">Code</th>
            <th scope="col">Tên</th>
            <th scope="col">Tùy Chọn</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>         
            <td>@item.Code</td>
            <td>@item.Name</td>
            <td>
                <a asp-route-id="@item.Id" class="btn btn-light border border-dark" asp-action="EditCommodity"><i class="fa-solid fa-wand-magic-sparkles"></i> Sửa</a>
                <a asp-route-id="@item.Id" class="btn btn-light border border-dark" asp-action="DeleteCommodity"><i class="fa-solid fa-trash-can"></i> Xóa</a>
            </td>
        </tr>

    }
</table>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}
